
body{
    font-family: "Lato", sans-serif;
}
nav ul{
    display: flex;
    text-align: end;
    justify-content: end;
}
/* .employee img{
    height: 450px;
    width: 750px;
} */
.bar{
    list-style: none;
    padding-left: 20px;
    margin: 10px;
}
.bar:hover{
    background-color: bisque;
    color: darkred;
}
.frst{
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 10px;
}
.btn:hover{
    background-color: burlywood;
}
.imgs img{
    height:320px;
    width: 300px;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-gap: 30px;
    margin: 30px;
}
.img{
    border: 1px solid bisque;
    border-radius: 15px;
    height: 380px;
    width: 300px;
}